/*last section*/
.footer {
    text-align: center;
    background-color: #020b22;
    height: 100px;
    padding-top: 20px;
    border: #012c1b 3px solid;
    border-radius: 2px;
}

.footer h3 {
    color: rgb(95, 100, 105);
}

.footer p {
    color: #919bb4;
    line-height: 5%;
}

span {
    background: -webkit-linear-gradient(rgb(143, 98, 3), rgb(255, 208, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}