body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-item {
    margin-left: 3%;
}

.card-item {
    width: 20%;
    display: inline-block;
    margin: 5%;
    box-shadow: 2px 2px 20px rgb(126, 125, 125);
    padding: 10px;
    border-radius: 5px;
}

.images img {
    width: 100%;
}

.description {
    text-align: justify;
    font-size: 15px;
}

.title {
    color: rgb(54, 52, 52);
}


/*aside*/
.social-media {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 55px;
    margin-right: 55px;
    border-radius: 5px;
    padding: 15px;
}

.media {
    margin: 0px 120px;
}

.media p {
    line-height: -20px;
}


.aside {
    display: flex;
    justify-content: center;

}

/*aside*/
/*last section*/
.footer {
    text-align: center;
    background-color: #020b22;
    height: 100px;
    padding-top: 20px;
    border: #012c1b 3px solid;
    border-radius: 2px;
    margin-top: 25px;

}

.footer h3 {
    color: rgb(95, 100, 105);
}

.footer p {
    color: #919bb4;
    line-height: 5%;
}

span {
    background: -webkit-linear-gradient(rgb(143, 98, 3), rgb(255, 208, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}